#ignore

*.DS_Store
*.csv
src/setup/frontend/static_copy/
.ipynb_checkpoints
*.RData
Dockerfile.tmp

#allow
!/src/research/user_research/user_research_input.csv
!/src/research/research_clusters/research_clusters_input.csv